<% include partials/header %>


        <title>RFP | Checkout</title>
        
<%
function formatID(id, des_length) {
    var f_ID = "";
    for (var i = 1; i <= des_length - id.toString().length; i++){
        f_ID += "0";
    }
    return f_ID + id;
} 
%>
<%
function format1(d) {
    var year = d.getFullYear();
    var month = d.getMonth() + 1;
    var date = d.getDate();
    var day = d.getDay();
    var hour = d.getHours();
    var minute = d.getMinutes();
    var ampm;
    var weekday = ["Sun","Mon","Tue","Wed","Thurs","Fri","Sat"]
    if(hour >= 13){
        hour = hour - 12;
    }
    if(minute < 10){
        minute = "0" + minute;
    }
    if(hour >= 12){
        ampm = "PM";
    } else {
        ampm = "AM";
    }
    return weekday[day] + " " + month + "/" + date + "/" + year + " " + hour + ":" + minute + " " + ampm;
} 
%>

<%
function formatDate(d) {
    var year = d.getFullYear();
    var month = d.getMonth() + 1;
    var date = d.getDate();
    var hour = d.getHours();
    var minute = d.getMinutes();
    if(minute < 10){
        minute = "0" + minute;
    }
    if (hour < 10){
        hour = "0" + hour;
    }
    return year + "-" + month + "-" + date + " "+ hour + ":" + minute + ":" + "00";
} 
%>        

        
    </head>
    <body>
        
<% include partials/navbar %>

    <div class="header-bar">
        <h1>Checkout Devices for Events</h1>
    </div>
   
    <br>
    
    <div class="content">
        
        <div class="card">
            <form class="add-form" action="/checkout" method="POST">
                <div class="ui form">
                    <div class="fields">
                        <div class="field">
                            <label>Event ID | Name | Date</label>
                                <% if (events.length > 1){ %>
                                    <select class="ui search dropdown" name="ev_ID">
                                    <option value="Empty">Select an Event</option> 
                                <% }else{ %>
                                    <select class="ui search dropdown" disabled=true name="ev_ID">
                                <% } %>    
                                <% for(var i = 0; i < events.length; i++) {    %>
                                    <option value="<%= events[i].ev_ID %>">
                                        <%= events[i].ev_Name + " | Event ID: " + formatID(events[i].ev_ID, 6) + " | Date: " + format1(events[i].ev_StartDate)  %>
                                    </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
        
                    <div class="fields">
                        <div class="field">
                            <input class="ui secondary button fixed-size-button" type="submit" name="select" value="Select">
                            <input class="ui secondary button fixed-size-button" type="submit" name="done" value="Done">
                        </div>
                    </div>    
                </div>
            </form>
        </div>
    
        <div id="checkout-tables">
            
            <table id="checkout-1" class="ui selectable inverted striped small table">
            
                <thead>
                    <tr>
                        <th>Devices Available</th>
                        <th>Description</th>
                        <th>Checkout</th>
                </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < devices.length; i++){ %>
                    <tr>
                        <td><%= devices[i].dev_Name %></td>
                        <td><%= devices[i].dev_Description %></td>
                        <td class="right aligned">
                                <form action="/checkout_add" method="POST">
                                    <input type='hidden' name='a_dev_ID' value="<%= devices[i].dev_ID %>">
                                    <input type='hidden' name='a_ev_StartDate' value="<%= formatDate(events[0].ev_StartDate) %>">
                                    <input type='hidden' name='a_ev_EndDate' value="<%= formatDate(events[0].ev_EndDate) %>">
                                    <input class="ui secondary mini button edit-button" type="submit" value="Add">
                                </form>    
                        </td>
                    </tr>
                    <%} %>
                </tbody>
                
            </table>
            
            <table id="checkout-2" class="ui selectable inverted striped small table">
    
                <thead>
                    <tr>
                        <th>Devices Loaned</th>
                        <th>Description</th>
                        <th>Return</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% if (events.length == 1){ %>
                        <% for(var i = 0; i < ev_has_dev.length; i++){ %>
                        <tr>
                            <% if (ev_has_dev[i].ev_DtReturn == null){  %>
                                <td><%= ev_has_dev[i].dev_Name %></td>
                                <td><%= ev_has_dev[i].dev_Description %></td>
                                <td class="right aligned">
                                    <form action="/checkout_return" method="POST">
                                        <input type='hidden' name='r_evdev_ID' value="<%= ev_has_dev[i].evdev_ID %>">
                                        <input type='hidden' name='r_dev_ID' value="<%= ev_has_dev[i].dev_ID %>">
                                        <input class="ui secondary mini button edit-button" type="submit" value="Return">
                                    </form>
                                </td>
                            <% } %>    
                        </tr>
                        <%} %>
                    <% } %>    
                </tbody>
                    
            </table>
    
        </div>
    </div>

<% include partials/footer %>