<% include partials/header %>


        <title>SegFault | Devices</title>
        
    </head>
    <body>
        
<% include partials/navbar %>

    <h1>Devices</h1>
    
    <br>
    <br>
    
    <form class="add-form" action="/devices" method="POST">
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <label>Name</label>
                    <input type="text" name="dev_Name" placeholder="Name">
                </div>
                <div class="field">
                    <label>Serial #</label>
                    <input type="text" name="dev_SN" placeholder="Serial Number">
                </div>
                <div class="field">
                    <label>Description</label>
                    <input type="text" name="dev_Description" placeholder="Descripition">
                </div>
                <div class="field">
                    <input id="bottom" class="ui secondary button" type="submit" value="Add">
                </div>
            </div>
        </div>
    </form>
    
    <br>
    
    <table class="ui selectable inverted table">
        
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Serial #</th>
                <th>Description</th>
                <th>Available?</th>
                <th>Edit / Remove</th>
            </tr>
        </thead>
        
        <tbody>
            <% for(var i = 0; i < devices.length; i++){ %>
            <tr>
                <td><%= devices[i].dev_ID %></td>
                <td><%= devices[i].dev_Name %></td>
                <td><%= devices[i].dev_SN %></td>
                <td></button><%= devices[i].dev_Description %></td>
                <td>
                    <% if(devices[i].dev_Active === 0){ %>
                        Yes
                    <% } else { %>
                        No
                    <% } %>
                </td>
                <td>
                    <button class="ui secondary button modal-pop" data-modal="<%= devices[i].dev_ID %>">Edit</button>
                    <div class="ui tiny modal"  data-modal="<%= devices[i].dev_ID %>">
                        <div class="header">Edit <%= devices[i].dev_Name %></div>
                        <div class="content">
                            <form action="/devices">
                                <div class="ui form">
                                    <div class="field">
                                        <label>Name</label>
                                        <input type="text" value="<%= devices[i].dev_Name %>">
                                    </div>
                                    <div class="field">
                                        <label>Serial Number</label>
                                        <input type="text" value="<%= devices[i].dev_SN %>">
                                    </div>
                                    <div class="field">
                                        <label>Description</label>
                                        <input type="text" value="<%= devices[i].dev_Description %>">
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" tabindex="0" class="hidden">
                                            <label>Available?</label>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="ui buttons">
                                        <button class="ui button">Cancel</button>
                                        <div class="or"></div>
                                        <button class="ui positive button" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <form action="/devices" method="POST">
                        <input type='hidden' name='dev_ID' value="<%= devices[i].dev_ID %>">
                        <input class="ui secondary button" formaction="/removeDevices" type="submit" value="Remove">
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
        
    </table>
    

<% include partials/footer %>