<% include partials/header %>

        <title>SegFault | Request an Event</title>
        
    </head>
    <body>
        
<% include partials/navbar %>

    <h1>Request an Event</h1>
    
    <br>
    
    <div class="add-event-form">
        <form action="/events" method="POST">
            <div class="ui form">
                <div class="three fields">
                    <div class="field">
                        <label>Event Name</label>
                        <input type="text" name="ev_Name" placeholder="Event Name">
                    </div>
                    <div class="field">
                        <label>Organization</label>
                        <select class="ui search dropdown" name="ev_OrgID">
                            <option value="Empty"><%= "Select an Organization"  %></option>
                            <% for(var i = 0; i < orgs.length; i++) { %>
                                <option value="<%= orgs[i].org_ID %>">
                                    <%= orgs[i].org_OrgName %>
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="field">
                            <label>User</label>
                            <select class="ui search dropdown" name="ev_UserID">
                                <option value="Empty"><%= "Select a User"  %></option>
                                <% for(var i = 0; i < users.length; i++) { %>
                                    <option value="<%= users[i].user_ID %>">
                                        <%= users[i].user_Name %>
                                    </option>
                                <% } %>
                            </select>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Start Date</label>
                        <input type="datetime-local" name="ev_StartDate" placeholder="Start Date">
                    </div>
                    <div class="field">
                        <label>End Date</label>
                        <input type="datetime-local" name="ev_EndDate" placeholder="End Date">
                    </div>
                    <div class="field">
                            <label>Locations</label>
                            <select class="ui search dropdown" name="ev_LocID">
                                <option value="Empty"><%= "Select a Location"  %></option>
                                <% for(var i = 0; i < locs.length; i++) { %>
                                    <option value="<%= locs[i].loc_ID %>">
                                        <%= locs[i].loc_Name %>
                                    </option>
                                <% } %>
                            </select>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Number of iPads</label>
                        <select class="ui search dropdown" name="ev_QtyiPad">
                            <% for(var i = 1; i <= 3; i++) { %>
                                <option value="<%= i %>"><%= i %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="field">
                        <label>Number of Credit Card Terminals</label>
                        <select class="ui search dropdown" name="ev_QtyCCR">
                            <% for(var i = 1; i <= 3; i++) { %>
                                <option value="<%= i %>"><%= i %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="field">
                            <label>EMS Event ID</label>
                            <input type="text" name="ev_EmsID" placeholder="EMS Event ID">
                    </div>
                </div>
                    <div class="field">
                        <label>Notes</label>
                        <textarea rows="5" placeholder="Notes" name="ev_Notes" maxlength="250"></textarea>
                    </div>
                
                <button id="add-event-button" class="ui secondary button" type="submit">Submit</button>
            </div>
        </form>
    </div>
    
<% include partials/footer %>