
<% include partials/header %>

        <title>SegFault | Events</title>
        
<% function format(date) { return date.toLocaleDateString("en-US"); } %>
        
    </head>
    <body>
        
<% include partials/navbar %>

    <h1>Events</h1>
    
    <table class="ui selectable inverted striped table">
        
        <thead>
            <tr>
                <th>ID</th>
                <th>Date Created</th>
                <th>iPads / CCRs</th>
                <th>Name</th>
                <th>User</th>
                <th>Organization</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th class="right aligned">Edit / Remove</th>
            </tr>
        </thead>
        
        <tbody>
            <% for(var i = 0; i < events.length; i++){ %>

            <tr>
                <td><%= events[i].ev_ID %></td>
                <td><%= events[i].ev_DateCreated %></td>
                <td><%= events[i].ev_QtyiPad %> / <%= events[i].ev_QtyCCR %></td>
                <td><%= events[i].ev_Name %></td>
                <td><%= events[i].user_Name %></td>
                <td><%= events[i].org_OrgName %></td>
                <td><%= events[i].ev_StartDate %></td>
                <td><%= events[i].ev_EndDate %></td>
                <td class="right aligned">
                    
                    <a class="ui secondary button" href="/events/<%= events[i].ev_ID %>/edit">Edit</a>
                    
                    <form action="/events_remove" method="POST">
                        <input type='hidden' name='ev_ID' value="<%= events[i].ev_ID %>">
                        <input class="ui secondary button" type="submit" value="Remove">
                    </form>
                    
                </td>
            </tr>
            <% } %>
        </tbody>
        
    </table>
    
<% include partials/footer %>