
<% include partials/header %>

        <title>RFP | Events</title>


        
<%
function format(date) {
    return date.toLocaleDateString("en-US");
} 
%>

<%
function formatID(id, des_length) {
    var f_ID = "";
    for (var i = 1; i <= des_length - id.toString().length; i++){
        f_ID += "0";
    }
    return f_ID + id;
} 
%>


<%
function format1(d) {
    var year = d.getFullYear();
    var month = d.getMonth() + 1;
    var date = d.getDate();
    var day = d.getDay();
    var hour = d.getHours();
    var minute = d.getMinutes();
    var ampm;
    var weekday = ["Sun","Mon","Tue","Wed","Thurs","Fri","Sat"]
    if(hour >= 13){
        hour = hour - 12;
    }
    if(minute < 10){
        minute = "0" + minute;
    }
    if(hour >= 12){
        ampm = "PM";
    } else {
        ampm = "AM";
    }
    return weekday[day] + " " + month + "/" + date + "/" + year + " " + hour + ":" + minute + " " + ampm;
} 
%>
        
    </head>
    <body>
        
<% include partials/navbar %>

    <div class="header-bar">
        <h1>Events</h1>
    </div>
    
    <br>

    <div class="content">
        
        <div class="card">
            
            <h4>Filters</h4>
            
            <form class="add-form" action="/events" method="POST">
                <div class="ui form">
                    <div class="fields">
                        <div class="field">
                            <label>Start Date</label>
                            <input type="date" name="filter_StartDate" placeholder="Start Date">
                        </div>
                        <div class="field">
                            <label>End Date</label>
                            <input type="date" name="filter_EndDate" placeholder="End Date">
                        </div>
                        <div class="field">
                            <label>Status</label>
                            <select class="ui search dropdown" name="filter_Status">
                                <option value="-2"><%= "All" %></option>
                                <% for(var i = 0; i < 6; i++) { %>
                                    <option value="<%= i %>"><%= status[i] %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <input class="ui secondary button" type="submit" name="filter" value="Filter">
                            <input class="ui secondary button" type="submit" name="clear" value="Clear Filter">
                        </div>
                    </div>
                </div>
            </form>
    
            <h4>or</h4>
            
            <div class="add-form">
                <a href="/events/new" class="ui secondary button">Request an Event</a>
            </div>
        </div>
        
        <table id="events-table" class="ui selectable inverted striped small celled table">
            
            <thead>
                <tr>
                    <th>ID</th>
                    <th>EMS Event ID</th>
                    <th>iPads / CCRs</th>
                    <th>Name</th>
                    <th>User</th>
                    <th>Organization</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th class="center aligned">Actions</th>
                </tr>
            </thead>
            
            <tbody>
                <% for(var i = 0; i < events.length; i++){ %>
                    <tr>
                        <td><%= formatID(events[i].ev_ID, 6) %></td>
                        <td><%= formatID(events[i].ev_EmsID, 6) %></td>
                        <td><%= events[i].ev_QtyiPad %> / <%= events[i].ev_QtyCCR %></td>
                        <td><%= events[i].ev_Name %></td>
                        <td><%= events[i].user_Name %></td>
                        <td><%= events[i].org_OrgName %></td>
                        <td><%= format1(events[i].ev_StartDate) %></td>
                        <td><%= format1(events[i].ev_EndDate) %></td>
                        <td><%= status[events[i].ev_Status] %></td>
                        <td class="right aligned">
                            <% if(events[i].ev_Status < 4){ %>
                                <a class="ui secondary mini button" href="/checkout/<%= events[i].ev_ID %>"><i class="fa fa-book"></i></a>
                                <a class="ui secondary mini button edit-button"  href="/events/<%= events[i].ev_ID %>/edit"><i class="fa fa-edit"></i></a>
                                <button class="ui secondary mini button remove-button" data-modal="<%= events[i].ev_ID %>"><i class="fa fa-trash"></i></button>
                                <div class="ui mini modal" data-modal="<%= events[i].ev_ID %>">
                                    <div class="header">Delete <%= events[i].ev_Name %>?</div>
                                    <div class="actions">
                                        <div class="ui deny button">
                                            No
                                        </div>
                                        <form action="/events_remove" method="POST">
                                            <input type='hidden' name='ev_ID' value="<%= events[i].ev_ID %>">
                                            <input class="ui red button" type="submit" value="Delete">
                                        </form>
                                    </div>
                                </div>
                                <% } else if(events[i].ev_Status == 4) { %>
                                    <a class="ui secondary mini button" href="/checkout/<%= events[i].ev_ID %>"><i class="fa fa-book"></i></a>
                                    <button class="ui secondary mini button edit-button"  disabled=true ><i class="fa fa-edit"></i></button>
                                    <button class="ui secondary mini button remove-button" disabled=true data-modal="<%= events[i].ev_ID %>"><i class="fa fa-trash"></i></button>
                                <% }else{ %>
                                    <button class="ui secondary mini button" disabled=true><i class="fa fa-book"></i></a>
                                    <button class="ui secondary mini button edit-button"  disabled=true ><i class="fa fa-edit"></i></button>
                                    <button class="ui secondary mini button remove-button" disabled=true data-modal="<%= events[i].ev_ID %>"><i class="fa fa-trash"></i></button>
                                <% }%>
                        </td>
                    </tr>
                <% } %>
            </tbody>
            
        </table>
    </div>
    
<% include partials/footer %>