<% include partials/header %>


        <title>SegFault | Organizations</title>
        
    </head>
    <body>
        
<% include partials/navbar %>

    <h1>Organizations</h1>
    
    <br>
    
    <form class="add-form" action="/organizations" method="POST">
        <div class="ui form">
            <div class="fields">
                <div class="field">
                    <label>Name</label>
                    <input type="text" name="org_OrgName" placeholder="Name">
                </div>
                <div class="field">
                    <label>Budget Code</label>
                    <input type="text" name="org_BudgetCode" placeholder="Budget Code">
                </div>
                <div class="field">
                        <input id="bottom" class="ui secondary button" type="submit" value="Add">
                </div>
            </div>
        </div>
    </form>

    <table class="ui selectable inverted striped small table">
        
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Budget Code</th>
                <th class="right aligned">Edit / Remove</th>
            </tr>
        </thead>
        
        <tbody>
            <% for(var i = 0; i < organizations.length; i++){ %>
            <tr>
                <td><%= organizations[i].org_ID %></td>
                <td><%= organizations[i].org_OrgName %></td>
                <td><%= organizations[i].org_BudgetCode %></td>
                <td class="right aligned">
                    
                    <button class="ui secondary mini button edit-button modal-pop" data-modal="<%= organizations[i].org_ID %>">Edit</button>
                    
                    <div class="ui tiny modal"  data-modal="<%= organizations[i].org_ID %>">
                        <div class="header">Edit <%= organizations[i].org_OrgName %></div>
                        <div class="content">
                            <form action="/organizations_edit" method="POST">
                                <input type="hidden" name ="e_org_ID" value="<%= organizations[i].org_ID %>">
                                <div class="ui form">
                                    <div class="field">
                                        <label>Name</label>
                                        <input type="text" name ="e_org_OrgName" value="<%= organizations[i].org_OrgName %>">
                                    </div>
                                    <div class="field">
                                        <label>Budget Code</label>
                                        <input type="text" name ="e_org_BudgetCode" value="<%= organizations[i].org_BudgetCode %>">
                                    </div>
                                    <br>
                                    <div class="ui buttons">
                                        <input class="ui positive button" type="submit" value="Save">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <form action="/organizations_remove" method="POST">
                        <input type='hidden' name='org_ID' value="<%= organizations[i].org_ID %>">
                        <input class="ui secondary mini button remove-button" type="submit" value="Remove">
                    </form>
                    
                </td>
            </tr>
            <% } %>
        </tbody>
        
    </table>
    

<% include partials/footer %>