<% include partials/header %>


        <title>RFP | Organizations</title>
        
    </head>
    <body>
        
<% include partials/navbar %>

    <div class="header-bar">
        <h1>Organizations</h1>
    </div>
    
    <br>
    
    <div class="content">
        
        <div class="card">
            <form class="add-form" action="/organizations" method="POST">
                <div class="ui form">
                    <div class="fields">
                        <div class="field">
                            <label>Name</label>
                            <input type="text" name="org_OrgName" placeholder="Name">
                        </div>
                        <div class="field">
                            <label>Budget Code</label>
                            <input type="text" name="org_BudgetCode" placeholder="Budget Code">
                        </div>
                        <div class="field">
                            <label><span id="blank">.</span></label>
                            <input id="bottom" class="ui secondary button" type="submit" value="Add">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    
        <table id="organizations-table" class="ui selectable inverted striped small table">
            
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Budget Code</th>
                    <th class="right aligned">Edit / Remove</th>
                </tr>
            </thead>
            
            <tbody>
                <% for(var i = 0; i < organizations.length; i++){ %>
                <tr>
                    <td><%= organizations[i].org_ID %></td>
                    <td><%= organizations[i].org_OrgName %></td>
                    <td><%= organizations[i].org_BudgetCode %></td>
                    <td class="right aligned">
                        
                        <a class="ui secondary mini button edit-button" href="/organizations/<%= organizations[i].org_ID %>/edit">Edit</a>
                        
                        <button class="ui secondary mini button remove-button" data-modal="<%= organizations[i].org_ID %>">Remove</button>
                        
                        <div class="ui mini modal" data-modal="<%= organizations[i].org_ID %>">
                            <div class="header">Delete <%= organizations[i].org_OrgName %>?</div>
                            <div class="actions">
                                <div class="ui deny button">
                                    No
                                </div>
                                <form action="/organizations_remove" method="POST">
                                    <input type='hidden' name='org_ID' value="<%= organizations[i].org_ID %>">
                                    <input class="ui red button" type="submit" value="Delete">
                                </form>
                            </div>
                        </div>
                        
                    </td>
                </tr>
                <% } %>
            </tbody>
            
        </table>
    </div>
    

<% include partials/footer %>